<div class="jumbotron">
	<div class="lead">
		<span>
			<p>Mission statement text.</p>
			<p>More mission statement text with a long description about something relevant.</p>
			<p>Even More mission statement text.</p>
			<p>The end.</p>
		</span>
	</div>
	<div class="lead">
		<span>
			<p>2641 Coors Blvd NW Suite B</p>
			<p>Albuquerque, New Mexico</p>
			<div style="position: relative; padding-bottom: 75%; height: 0; overflow: hidden;">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13054.836110424309!2d-106.70392445515735!3d35.113975925285644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x872272be2eebdcd9%3A0x2a8d3d9799988539!2s2641+Coors+Blvd+NW%2C+Albuquerque%2C+NM+87120!5e0!3m2!1sen!2sus!4v1435991395643" width="450" height="450" frameborder="0" style="border:0" allowfullscreen style="position: absolute; top: 0; left: 0; width: 100% !important; height: 100% !important;"></iframe>
			</div>
		</span>
	</div>
	<div class="lead">
		<span>
			<p><a href="tel:+1-505-433-5339">(505) 433-5339</a></p>
		</span>
	</div>
	<div class="lead">
		<span>
			<a href="https://www.facebook.com/justvapenm">Facebook</a>
		</span>
	</div>
</div>