<div class="modal-header">
	<h3 class="modal-title">Login or <a href="#" onclick="return false;" ng-click="LoginModalCtrl.gotoRegister()">Register</a></h3>
</div>
<div class="modal-body">
	<form ng-submit="LoginModalCtrl.submit(_email, _password);">
		<input ng-init="_email = 'jacobsgriffith@yahoo.com'" type="email" ng-model="_email" placeholder="User Name" />
		<input ng-init="_password = 'Beta343#'" type="password" ng-model="_password" placeholder="Password" />
		<input type="submit" style="visibility: hidden;" />
	</form>
</div>
<div class="modal-footer">
	<img style="display: none" src="images/loginspinner_32x32.gif" />
	<spinner name="loginSpinner" img-src="images/loginspinner_32x32.gif"></spinner>
	<button class="btn btn-primary" ng-click="LoginModalCtrl.submit(_email, _password)">OK</button>
	<button class="btn btn-warning" ng-click="LoginModalCtrl.cancel()">Cancel</button>
</div>