<div class="container-fluid">
	<div ng-show="!selectedCategory">
		<div class="row text-center">
			<div class="panel-group">
				<div class="panel panel-default" ng-repeat="category in categories" style="cursor: pointer;">
				  <div class="panel-heading" style="height: 90px;">
					<div class="panel-title">
						<div class="accordion-toggle">
							<h2 ng-show="!category.editMode">
								<div ng-click="$parent.selectedCategory = category" style="margin-left: 50px;">
									<span>{{category.Name}}</span>
								</div>
								<i class="pull-right glyphicon glyphicon-edit" ng-click="category.editMode = !category.editMode" style="margin-right: 20px; margin-top: -30px;"></i>
							</h2>
							<div class="col-md-12" ng-show="category.editMode">
								<textArea placeholder="Category Name" class="form-control form-inline text-center" rows="2" ng-model="category.Name">
								</textArea>
								<i class="pull-right glyphicon glyphicon-save" style="margin-right: 20px; margin-top: -30px;" ng-click="updateJuiceCategory(category)"></i>
							</div>
						</div>
					</div>
				  </div>
				</div>
			</div>
		</div>
		<div class="row text-center">
			<a href="#" onclick="return false;" class="btn btn-primary" ng-click="addNewCategory()">Add new Category</a>
		</div>
	</div>
	<div ng-show="selectedCategory">
		<div class="row text-center" style="margin-bottom: 10px">
			<span>{{selectedCategory}}</span>
		</div>
		<div class="row text-center" style="margin-bottom: 10px">
			<div class="col-md-1">
				<span style="color: white; font-size: 20px;">Search</span>
			</div>
			<div class="col-md-2">
				<input ng-model="searchText" placeholder="Search..." style="height: 34px; padding: 0px 20px; width: 100%;"></input>
			</div>
			<div class="col-md-6" style="text-align">
				<a href="#" onclick="return false;" class="btn btn-primary" ng-click="selectedCategory = null">Select a new category</a>
			</div>
		</div>
		<div class="row text-center">
			<div class="panel-group">
				<div class="panel panel-default" ng-repeat="juice in juices | manageJuiceFilter:selectedCategory.Name:searchText" style="cursor: pointer;">
				  <div class="panel-heading" style="height: 90px;">
					<div class="panel-title">
						<div class="accordion-toggle">
							<h2 ng-show="!juice.editMode">
								<div style="margin-left: 50px;">
									<span ng-click="juice.expanded = !juice.expanded">{{juice.Name}}</span>
								</div>
								<i class="pull-right glyphicon glyphicon-edit" ng-click="juice.expanded = true; juice.editMode = !juice.editMode" style="margin-right: 20px; margin-top: -30px;"></i>
								<i class="pull-right glyphicon glyphicon-chevron-right" ng-click="juice.expanded = !juice.expanded" ng-class="{'glyphicon-chevron-down': juice.expanded, 'glyphicon-chevron-right': !juice.expanded}" style="margin-right: 60px; margin-top: -30px;"></i>
							</h2>
							<div class="col-md-12" ng-show="juice.editMode">
								<textArea placeholder="Juice Name" class="form-control form-inline text-center" rows="2" ng-model="juice.Name">
								</textArea>
								<i class="pull-right glyphicon glyphicon-remove" ng-show="juice.Id != -1" ng-click="removeJuice(juice)" style="margin-right: 20px; margin-top: -30px;"></i>
								<i class="pull-right glyphicon glyphicon-chevron-right" ng-click="juice.expanded = !juice.expanded" ng-class="{'glyphicon-chevron-down': juice.expanded, 'glyphicon-chevron-right': !juice.expanded}" style="margin-right: 60px; margin-top: -30px;"></i>
							</div>
						</div>
					</div>
				  </div>
				  <div class="panel-collapse collapse" ng-class="{ in: juice.expanded }">
					  <div class="panel-body">
							<div ng-show="!juice.editMode">
								<div class="col-sm-12 ng-scope">
									<label class="text-center" style="font-size: 12px; font-weight: bold;">{{juice.Category.Name}}</label>
								</div>
								<div class="col-sm-12 ng-scope">
									<label class="text-center">{{juice.Description}}</label>
								</div>
							</div>
							<div class="col-md-12" ng-show="juice.editMode">
								<div class="center-block" style="width: 200px;">
									<select ng-show="juice.Id != -1" class="form-control" ng-model="juice.Category.Id" style="padding: 0px 20px;">
										<option ng-repeat="category in categories" value="{{category.Id}}" ng-selected="category.Id == juice.Category.Id">{{category.Name}}</option>
									</select>
								</div>
								<textArea placeholder="Juice Description" class="form-control form-inline text-center" rows="2" ng-model="juice.Description">
								</textArea>
								<i class="pull-right glyphicon glyphicon-save" style="margin-right: 20px; margin-top: -30px;" ng-click="updateJuice(juice)"></i>
							</div>
						</div>
				  </div>
				</div>
			</div>
		</div>
		<div class="row text-center">
			<a href="#" onclick="return false;" class="btn btn-primary" ng-click="addNewJuice()">Add new Juice</a>
		</div>
	</div>
</div>