<div class="container-fluid">
	<div class="row text-center" style="color: grey; font-size: 20px;" ng-repeat="notification in notifications">
		<div class="col-lg-1"></div>
		<div class="col-lg-3">
			<label class="text-center">{{notification.adName}}</label>
		</div>
		<div class="col-lg-1"></div>
		<div class="col-lg-2">
			<label class="text-center">{{notification.adStatus}}</label>
		</div>
		<div class="col-lg-1"></div>
		<div class="col-lg-3">
			<label class="text-center">{{notification.deniedReason}}</label>
		</div>
	</div>
</div>