<div class="container-fluid">
	<div class="row text-center">
		<div class="panel-group">
			<div class="panel panel-default" ng-repeat="notification in notifications">
			  <div class="panel-heading" ng-click="notification.expanded = !notification.expanded">
				<div class="panel-title">
				  <div class="accordion-toggle">
					<h2><span class="ng-binding">{{notification.adName}}</span><i class="pull-right glyphicon glyphicon-chevron-right" ng-class="{'glyphicon-chevron-down': notification.expanded, 'glyphicon-chevron-right': !notification.expanded}" style="margin-right: 20px;"></i></h2>
					</div>
				</div>
			  </div>
			  <div class="panel-collapse collapse" ng-class="{ in: notification.expanded }">
				  <div class="panel-body">			
						<div class="col-sm-12 ng-scope">
							<h3 class="text-center ng-binding text-danger" ng-class="{ 'text-danger': notification.adStatus == 'Denied', 'text-success': notification.adStatus != 'Denied' }">{{notification.adStatus}}</h3>
						</div>
						<div class="col-sm-12 ng-scope">
							<label class="text-center ng-binding">{{notification.deniedReason}}</label>
						</div>
					</div>
			  </div>
			</div>
		</div>
	</div>
</div>